* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 1.4vw;
}
@font-face {
  font-family: "Arial Armenian";
  src: url("./fonts/ArialArmenian.ttf") format("truetype");
}
@font-face {
  font-family: "ArialArmST";
  src: url("./fonts/ArialArmST.ttf") format("truetype");
}
body {
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Arial Armenian";
  overflow-x: hidden;
  background: linear-gradient(
    236.24deg,
    #26065a 0.49%,
    #03225d 33.17%,
    #590061 70.61%,
    #03008b 101.31%
  );
}
.section1CartBg {
  border-radius: 2rem;
}
.header {
  /* background: linear-gradient(236.24deg, #26065A 0.49%, #03225D 33.17%, #590061 70.61%, #03008B 101.31%); */

  display: flex;
  position: relative;
  width: 100vw;
  height: 4rem;
  box-shadow: 15px 15px 25px rgba(66, 0, 109, 0.2);

  z-index: 4;
  align-items: center;
  justify-content: space-between;
}
.header-sections {
  color: #fff;
  display: flex;
  font-size: 0.7rem;
  margin-right: 2rem;
  align-items: center;
  flex-wrap: nowrap;
}
.header-logo {
  height: 3rem;
  width: 3rem;
  margin-left: 1.5rem;
}

.header-logo-link {
  width: 100%;
  height: 100%;
}
.header-logo-link > img {
  width: 100%;
  height: 100%;
}

.header-other-sections {
  display: flex;
  align-items: center;
}
.header-user {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.header-theme-btn {
  position: relative;
  width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.theme-main-btn {
  background: #fff;
  border-radius: 1rem;
  width: 2.8rem;
  height: 1.3rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  z-index: 3;
  transition: 0.4s;
}
.fa-moon-o {
  position: absolute;
  left: 0.4rem;
  z-index: 3;
  color: #000;
}
.fa-sun-o {
  position: absolute;
  right: 0.4rem;
  z-index: 3;
}
.theme-round-btn {
  position: absolute;
  transition: 0.3s;
  height: 1.45rem;
  width: 1.45rem;
  border-radius: 50%;
  background: #0a0935;
  z-index: 4;
  right: 0;
  cursor: pointer;
}
.header-section {
  position: relative;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #ffffff;
  height: 100%;
  line-height: 1.5rem;
  font-weight: bold;
}
.header-section:hover {
  border-bottom: 0.05rem solid #fff;
}
.header-lang-change {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 1.6rem;
  margin-left: 1rem;
}
.flag {
  display: flex;

  width: 1.6rem;

  height: 1.6rem;
}
.lang-btn {
  position: relative;
  margin-left: 0.3rem;
  color: #fff;
  cursor: pointer;
}
.lang-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 1.6rem;
  overflow: hidden;
  height: 1.6rem;
  transition: 0.5s;
}
.flag-item {
  width: 1.4rem;
  height: 1.4rem;
  margin-bottom: 0.5rem;
}
#lang-rotate {
  transition: 0.5s;
}
.flag-item > img {
  width: 100%;
  height: 100%;
}
.header-search {
  margin-left: 2rem;
}
.header-section-services {
  overflow: hidden;
  position: relative;
}
.header-section-main > a {
  color: #fff;
}
.services-wrap-slide {
  display: flex;
  flex-direction: column;
  border: 1px solid #cacaca;
  position: absolute;
  margin-top: 0.1rem;
  opacity: 0;
  width: 25rem;
  background: #fff;
  color: #000;
  font-size: 0.7rem;
  /* height: 15rem; */
  justify-content: space-around;
  transition: 0.5s;
  z-index: 2;
}
.header-section-services:hover {
  overflow: visible;
}
.header-section-services:hover .services-wrap-slide {
  opacity: 1;
}
.wrap-slide-text {
  padding-top: 0.2rem;
  z-index: 4;
  color: #000;
}
.un-border {
  border: none !important;
}
.wrap-slide-text > p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-bottom: 1px solid #cacaca;
}
.wrap-slide-text:hover {
  background: #adadad;
}

.header-section-faculties {
  overflow: hidden;
  position: relative;
}
.header-section-faculties > i {
  padding-left: 0.8rem;
}
.faculties-wrap-slide {
  display: flex;
  flex-direction: column;
  border: 1px solid #cacaca;
  position: absolute;
  margin-top: 0.1rem;
  opacity: 0;
  width: 15rem;
  background: #fff;
  color: #000;
  font-size: 0.7rem;
  /*height: 7rem;*/
  /*	justify-content: space-around;
	transition: .5s;*/

  z-index: 4;
}
.header-section-faculties:hover {
  overflow: visible;
}
.header-section-faculties:hover .faculties-wrap-slide {
  opacity: 1;
}
*/ .header-section-faculties > i {
  padding-left: 0.8rem;
}
.header-section-services > i {
  padding-left: 0.8rem;
}

.search-panel {
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 0;
  border-radius: 60px;
  width: 1.4rem;
  transition: 0.9s;

  display: flex;
  height: 2rem;
}
#search-field {
  width: 0;
  border: none;
  border-radius: 60px;
  opacity: 0;
  height: 1.4rem;
  transition: 0.9s;
  outline: none;
  color: #797979;
  font-size: 0.7rem;
  height: 2rem;
}
#search-field:not(:focus) {
  width: 0;
  border: none;
  border-radius: 60px;
  opacity: 0;
  height: 1.4rem;
  transition: 0.9s;
  outline: none;
  color: #797979;
  font-size: 0.7rem;
  height: 2rem;
}
.header-search {
  position: relative;
  width: 1.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

#search-ico {
  height: 2rem;
  z-index: 5;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.search-input {
  z-index: 3;
  position: absolute;
  width: 0;
  opacity: 0;
}

.main {
  display: flex;
  width: 100vw;

  position: relative;
}
.main-menu {
  /*	display: none;*/
  /* background: linear-gradient(236.24deg, #03008B 101.31%, #590061 70.61%, #03225D 33.17%, #26065A 0.49%); */

  display: flex;
  flex-direction: column;
  width: 6.5rem;
  box-shadow: 15px 15px 25px rgba(66, 0, 109, 0.2);
  height: 100%;
  position: relative;
}

.main-menu-item {
  width: 5rem;
  display: flex;
  flex-direction: column;
  height: 5rem;
  margin-bottom: 1rem;
  position: relative;
  margin-left: 0.5rem;
  align-items: center;
}
.menu-item-icon {
  width: 3rem;
  height: 2.5rem;
}
.menu-item-icon > img {
  width: 100%;
  height: 100%;
}
.menu-item-text {
  margin-top: 0.2rem;
  font-size: 0.55rem;
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  width: 100%;
}
.menu-item-active {
  color: #fff;
}
.main-menu {
  padding-top: 2rem;
}
a {
  text-decoration: none;
}
.main-inner {
  background: #fff;
  width: 100%;
}

.footer {
  width: 100vw;
  background: linear-gradient(136.18deg, #0e0927 0%, #200138 100%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer-social-media {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.footer-social-media > a > img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.5rem;
}
.footer-inner {
  width: 100%;
  position: relative;
  font-family: "ArialArmST";
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  z-index: 2;
}
.footer-trainings,
.footer-map,
.footer-contacts {
  width: 20%;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.footer-logo-heading {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: bold;
}
.logo-heading-purp {
  color: #442696;
  padding-left: 0.25rem;
}
.global-it-info {
  font-size: 0.8rem;

  width: 22%;

  margin: 2rem;
}
.global-it-text {
  text-align: center;
}
.footer-global-it-logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.footer-global-it-logo > img {
  margin-right: 0.5rem;
}
.footer ul {
  list-style-type: none;
  text-align: center;
}
.footer ul > li {
  margin-bottom: 0.9rem;
}

.footer-global-heading {
  margin-top: 2rem;
  font-size: 1.45rem;
  font-weight: bold;
  line-height: 134.8%;
  text-align: center;
  letter-spacing: 0.055rem;
  margin-bottom: 1rem;
}
.footer-no-margin > li {
  margin-bottom: 0.3rem !important;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright-wrapper {
  padding-top: 1rem;
  width: 80%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.copyright-wrapper > p {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  margin-bottom: 1.2rem;
}
li > a {
  text-decoration: none;
  color: #ffffff;
}

/*section1*/
.section1 {
  font-family: Arial;
  padding: 2rem 3rem;
}
/*section1__freeAdvice*/
.section1 h1 {
  font-size: 2.1rem;
  letter-spacing: 0.055em;
}
.section1__freeAdvice {
  margin-top: 1.5rem;
  position: relative;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}
.section1__freeAdvice-pic-wrapper img {
  width: 4rem;
  height: 4rem;
}
.section1__freeAdvice-pic-wrapper h3 {
  font-size: 0.9rem;
  line-height: 4rem;
  position: relative;
  margin-right: 0.5rem;
  letter-spacing: 0.055em;
  font-weight: bold;
  user-select: none;
}
.section1__freeAdvice-pic-wrapper {
  display: flex;
}
.section1__freeAdvice-inputs-wrapper {
  position: relative;
  display: flex;
  height: 4rem;
  align-items: center;
}
.section1__freeAdvice-yourName,
.section1__freeAdvice-yourPhone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 13rem;
  height: 2.5rem;
  border-radius: 67px;
  border: none;
  background: #939393;
  margin-right: 0.5rem;
}
.section1__freeAdvice-yourName:focus {
  background: #000 !important;
}
.section1__freeAdvice-yourName input,
.section1__freeAdvice-yourPhone input {
  width: 12.1rem;
  height: 93%;
  outline: none;
  border: none;
  margin: 0.1rem;
  border-radius: 67px;
  padding-left: 0.7rem;
  font-size: 0.7rem;
}

.section1__freeAdvice button {
  outline: none;
  border: none;
  background: linear-gradient(91.52deg, #3d04b7 3%, #235beb 99.55%);
  border-radius: 67px;
  position: relative;
  width: 18rem;
  height: 2.5rem;
  /* left: 49rem; */
  /* top: 1rem; */
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.055em;
  color: #ffffff;
  cursor: pointer;
}
/*section1__answerQuestion*/
.section1__answerQuestion {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
}
.section1__answerQuestion > img {
  height: 4rem;
  width: 4rem;
}
.section1__answerQuestion p {
  font-weight: bold;
  font-size: 0.85rem;
  letter-spacing: 0.055em;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  position: relative;
}
/*section1__apply*/
.section1__apply {
  display: flex;
  margin-top: 1rem;
  position: relative;
  height: 4rem;
  width: 100%;
  align-items: center;
}
.section1__apply span {
  position: relative;
  font-weight: bold;
  font-size: 0.88rem;
  letter-spacing: 0.055em;
  margin-right: 1rem;
}
.section1__apply-naturalPerson {
  position: relative;
  width: 10rem;
  height: 2.2rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.055em;
  border-radius: 44px;
  outline: none;
  border: 1px solid #000000;
  cursor: pointer;
}
.section1__apply-legalPerson {
  position: relative;
  width: 12rem;
  height: 2.2rem;
  cursor: pointer;
  background: #4200ce;
  border-radius: 44px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 0.7rem;
  color: white;
}
/*section1__apply-cart*/
.section1__apply-cart {
  position: relative;
  width: 100%;
  height: 29rem;
  top: 2rem;
  background: #ffffff;
  box-shadow: 0 0 47px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.section1__apply-one-wrap {
  width: 8rem;
  display: flex;
}
.section1__apply-one {
  width: 2.5rem;
  height: 2.5rem;
  background: #4200cf;
  border-radius: 0.5rem;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 2rem;
}
.section1__apply-one p {
  transform: rotate(-45deg);
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
}
.section1-nat-person-inputs {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 0.8rem;
  position: relative;
  top: -2rem;
  /* left: 50%;
	transform: translateX(-50%); */
}
.input-bg {
  width: 20rem;
  height: 3rem;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  /* margin-right: 1rem; */
}
.input-bg > input {
  border: none;
  outline: none;
  border-radius: 3rem;
  padding-left: 1rem;
  width: 95%;
  height: 95%;
  font-size: 0.7rem;
}
.nat-person-input {
  margin: 1rem;
}
.nat-person-input > p {
  margin-bottom: 1rem;
}
.go-to-btn {
  width: 80%;
  margin: 0 auto;
}
.go-to-btn > button {
  z-index: 20;
  margin-left: 1rem;
  outline: none;
  border: none;
  background: #4200cf;
  border-radius: 2rem;
  position: relative;
  width: 9rem;
  height: 2.5rem;
  /* left: 49rem; */
  /* top: 1rem; */
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.055em;
  color: #ffffff;
  cursor: pointer;
}
#button-next_1-nat {
  z-index: 20;
  margin-left: 1rem;
  outline: none;
  border: none;
  background: #4200cf;
  border-radius: 2rem;
  position: relative;
  width: 9rem;
  height: 2.5rem;
  /* left: 49rem; */
  /* top: 1rem; */
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.055em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.section2_iput_typeofactivity_button_next {
  margin-top: 1rem;
}

#button-next_2,
#button-back_2 {
  z-index: 20;
  margin-left: 1rem;
  outline: none;
  border: none;
  background: #4200cf;
  border-radius: 2rem;
  position: relative;
  width: 9rem;
  height: 2.5rem;
  /* left: 49rem; */
  /* top: 1rem; */
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.055em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
#button-next_2-leg,
#button-back_2-leg {
  z-index: 20;
  margin-left: 1rem;
  outline: none;
  border: none;
  background: #4200cf;
  border-radius: 2rem;
  position: relative;
  width: 9rem;
  height: 2.5rem;
  /* left: 49rem; */
  /* top: 1rem; */
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.055em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
#button-next_1-legal {
  z-index: 20;
  margin-top: 1rem;
  margin-left: 1rem;
  outline: none;
  border: none;
  background: #4200cf;
  border-radius: 2rem;
  position: relative;
  width: 9rem;
  height: 2.5rem;
  /* left: 49rem; */
  /* top: 1rem; */
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.055em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.card-illustriation {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-illustriation > img {
  width: 13rem;
  height: 13rem;
}
#naturalPersonCart {
  display: none;
}

.mobile-header {
  display: none;
  position: relative;
  width: 100vw;
  height: 20rem;
  align-items: center;
  justify-content: space-between;
}
.footer-logo-mobile {
  display: none;
}
.mobile-footer-copyright {
  display: none;
}
/*----------------------------section 2--------------------------------------*/

.section2 {
  margin: 2rem auto;
  border-radius: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 47px rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
}
.section2-nat {
  margin: 2rem auto;
  border-radius: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 47px rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
}
.section2_nubmber {
  width: 2.5rem;
  height: 2.5rem;
  background: #4200cf;
  border-radius: 0.5rem;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.section2_nubmber p {
  color: #ffffff;
  font-size: 1.6rem;
  transform: rotate(-45deg);
}
.section2_iputs {
  margin-left: 2rem;
  margin-top: 3rem;
}
.section2_iput_typeofactivity {
  display: flex;
}
.section2_iput_typeofactivity_input {
  width: 18rem;
  height: 3rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: gray;
  margin-top: 1rem;
}
.section2_iput_typeofactivity_input input {
  width: 94%;
  height: 95%;
  border-radius: 10rem;
  border: none;
  outline: none;
  padding-left: 1rem;
  /* font-family: ; */
  font-style: normal;
  font-weight: bold;
  font-size: 0.7rem;
}
.section2_iput_typeofactivity_title p {
  /* font-family: ; */
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
}
.section2_iput_typeofactivity_title_p {
  margin-left: 2.3rem;
}
.section2_iput_typeofactivity_title_p_2 {
  display: none;
}
.section2_iput_typeofactivity_secton2_input {
  width: 26rem;
  height: 3rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: gray;
  margin-left: 2rem;
  margin-top: 1rem;
}
.section2_iput_typeofactivity_secton2_input input {
  width: 95.2%;
  height: 94%;
  border-radius: 10rem;
  border: none;
  outline: none;
  padding-left: 1rem;
  /* font-family: ; */
  font-style: normal;
  font-weight: bold;
  font-size: 0.7rem;
}
.section2_iput_typeofactivity {
  display: flex;
}
.section2_iput_typeofactivity_section3_inputs {
  display: flex;
}
.section2_iput_typeofactivity_section3_input {
  width: 18rem;
  height: 3rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: gray;
  margin-top: 1rem;
}
.section2_iput_typeofactivity_section3_input input {
  width: 94%;
  height: 95%;
  border-radius: 10rem;
  border: none;
  outline: none;
  padding-left: 1rem;
  /* font-family: ; */
  font-style: normal;
  font-weight: bold;
  font-size: 0.7rem;
}
.hiden-element[type="file"] {
  /* visibility: hidden; */
  display: none;
}

.section2_iput_typeofactivity_section3_addfile label {
  width: 11rem;
  height: 3rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border: 1px solid #a0a0a0;
  margin-top: 1rem;
  opacity: 0.4;
  cursor: pointer;
  margin-left: 2rem;
  /* font-family: ; */
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
}
.section2_iput_typeofactivity_section3_title {
  margin-top: 1rem;
  /* font-family: ; */
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
}
#section2-input9-bg {
  margin-top: 0.8rem;
  margin-bottom: 2rem;
  width: 90%;
}
#section2-input9-bg > input {
  width: 97.5%;
}
.section2_iput_boss > p {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.boss-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
}
.boss-inputs-wrapper > span {
  margin-bottom: 1rem;
  width: 24rem;
}
.section2_iput_company-adress {
  margin-top: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.section2_iput_typeofactivity_section3_title_p2 {
  display: none;
}
.section2_iput_typeofactivity_i_have_a_website_title {
  /* font-family: ; */
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
}
.section2_iput_typeofactivity_section4 {
  width: 17rem;
  height: 7.5rem;
}
.section2_iput_typeofactivity_section4 img {
  width: 100%;
  margin-right: 2rem;
}
.section2_iput_typeofactivity_i_have_a_website_input {
  width: 31rem;
  height: 3rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: gray;
  margin-top: 1rem;
  font-size: 0.8rem;
}
.section2_iput_typeofactivity_i_have_a_website_input input {
  width: 96%;
  height: 94%;
  border-radius: 10rem;
  border: none;
  outline: none;
  /* font-family: ; */
  font-style: normal;
  font-weight: bold;
  padding-left: 1rem;
  font-size: 0.7rem;
}
.section2_iput_typeofactivity_button_next_button {
  background: #4200cf;
  border-radius: 5rem;
  width: 10rem;
  height: 2.5rem;
  color: #ffffff;
  font-size: 0.7rem;
  border: none;
  outline: none;
  cursor: pointer;
  /* font-family: ; */
  font-style: normal;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/*----------------------------section 3--------------------------------------*/
.selected-languages-container {
  display: flex;
  /* background: red; */
  height: 2rem;
  width: 40rem;
  margin-left: 1rem;
  align-items: center;
}
.counter {
  width: 1.5rem;
  height: 1.8rem;
  border-radius: 0.3rem;
  position: relative;
  margin-left: 2rem;
  border: 0.13rem solid #6e6e6e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #6e6e6e;
}
.languages-select-wrapper {
  margin-top: 1rem;
  display: flex;
  position: relative;
  align-items: center;
}
.lang-dropdown-active {
  display: block !important;
}
.laguage-dropdown {
  display: none;
  position: absolute;

  background: #fff;
  width: 9rem;
  height: 10rem;
  overflow-y: scroll;
  left: 3rem;
  top: 100%;
  border: 0.2rem solid #ededed;
}
.laguage-dropdown > p {
  line-height: 2rem;
  border-bottom: 0.2rem solid #ededed;
  cursor: pointer;
}
.section3_card3 {
  background: #ffffff;
  box-shadow: 0px 0px 47px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  margin-top: 5rem;
}
.section3_site_type {
  padding-top: 2rem;
  padding-left: 2rem;
}
.section3_third_text {
  display: flex;
  align-items: center;
}
.section3_third {
  width: 2.5rem;
  height: 2.5rem;
  background: #4200cf;
  border-radius: 0.4rem;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3_third p {
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  transform: rotate(-45deg);
  font-size: 1.2rem;
}
.section3_text {
  margin-left: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
}
.section3_type {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
}
.section3_type_choice {
  width: 16rem;
  height: 11rem;
  background: linear-gradient(251.39deg, #468bf1 9.06%, #3045ff 98%);
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin: 0.5rem;
  cursor: pointer;
}
.section3_type_choice_text {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  color: #ffffff;
  font-family: "Arial Armenian";
}
.section3_type_choice_text h4 {
  margin-bottom: 0.5rem;
}
.section3_type_choice_bg {
  position: absolute;
  right: -1rem;
}
.news_sayt {
  right: 0rem !important;
}
.section3_type_your_choice {
  width: 100%;
  height: 100%;
  background-color: #2b2b2b86;
  position: absolute;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.section3_type_your_choice span {
  font-size: 5rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.section3_what_do_i_want_text {
  margin-left: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  width: 73%;
  margin-left: 3rem;
  font-family: "Arial Armenian";
}
.section3_what_do_i_want_input {
  width: 36rem;
  height: 3.2rem;
  margin-left: 3rem;
  margin-top: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
}
.section3_what_do_i_want_input input {
  width: 94%;
  height: 94%;
  padding-left: 1rem;
  padding-right: 1rem;
  /*border: 1px solid rgba(0, 0, 0, 0.5);*/
  border: none;
  border-radius: 2rem;
  font-size: 0.7rem;
  /*	padding-left: 2rem;
		margin-top: 1px;*/
}
.section3_language_text {
  margin-left: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  width: 73%;
  margin-left: 3rem;
  margin-top: 1rem;
  font-family: "Arial Armenian";
}
.section3_language_choice {
  position: relative;
  width: 7rem;
  height: 2.5rem;
  border: 0.1rem solid gray;
  margin-left: 3rem;
  /* margin-top: 1rem; */
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
}
.section3_language_choice p {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}
.dropdawn_lengvich {
  display: none;
}
.dropdawn_lengvich_hide {
  width: 7rem;
  height: 4.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-left: 3rem;
  margin-top: 0.2rem;
  border-radius: 0.8rem;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dropdawn_lengvich p {
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
}
.section3_mobail_text {
  margin-left: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  width: 73%;
  margin-left: 3rem;
  margin-top: 1rem;
  font-family: "Arial Armenian";
}
.section3_mobail_input {
  width: 20.1rem;
  height: 3.2rem;
  margin-left: 3rem;
  margin-top: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
}
.section3_mobail_input input {
  width: 94%;
  height: 94%;
  border: none;
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.7rem;
}
.section3_domen_text {
  margin-left: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  width: 73%;
  margin-left: 3rem;
  margin-top: 1rem;
  font-family: "Arial Armenian";
}
.section3_domen_input {
  width: 20.1rem;
  height: 3.2rem;
  margin-left: 3rem;
  margin-top: 1rem;
  border-radius: 2rem;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3_domen_input input {
  width: 94%;
  height: 94%;
  border: none;
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.7rem;
}
.section3_preferred_design_text {
  margin-left: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  width: 73%;
  margin-left: 3rem;
  margin-top: 1rem;
  font-family: "Arial Armenian";
}
.section3_preferred_design_input {
  display: flex;
}
.section3_preferred_design_input_1 {
  width: 20.1rem;
  height: 3.2rem;
  margin-left: 3rem;
  margin-top: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
}
.section3_preferred_design_input_2 {
  width: 20.1rem;
  height: 3.2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
}
.section3_preferred_design_input_1 input {
  width: 94%;
  height: 94%;
  border: none;
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.7rem;
}
.section3_preferred_design_input_2 input {
  width: 94%;
  height: 94%;
  border-radius: 2rem;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.7rem;
}
.send button,
#button-back_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4200cf;
  width: 8rem;
  height: 2.5rem;
  color: #ffffff;
  font-family: "Arial Armenian";
  font-weight: bold;
  font-size: 0.7rem;
  font-style: normal;
  margin-left: 1rem;
  margin-top: 2.5rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  transition: ease 0.5s;
  margin-left: 3rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
#button-back_3-leg {
  background: #4200cf;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  color: #ffffff;
  font-family: "Arial Armenian";
  font-weight: bold;
  font-size: 0.7rem;
  font-style: normal;
  margin-left: 1rem;
  margin-top: 2.5rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  transition: ease 0.5s;
  margin-left: 3rem;
  cursor: pointer;
  /*.send button:hover{
	font-size:0.8rem;
	background: #572bb6;

}*/
}
input {
  outline: none;
}

/*----------------------------section 3 end--------------------------------------*/

/*-----------------mobile menu slider----------------------------*/
.mobile-menu-slider {
  position: absolute;
  height: 100vh;
  width: 0;
  background: blue;
  z-index: 20;
  right: 0;
  opacity: 0;
  transition: 0.5s;
}
.mobile-menu-slider > span {
  display: none;
}

/*.mobile-menu-slider{
	position: absolute;
	height: 100vh;
	width: 80%;
	background: blue;
	z-index: 20;
	right: 0;
  transform: translateX(100%);
	transition: .5s;
opacity:0;

}
.mobile-menu-slider-active{
opacity:1;
	display: flex;
	  transform: translateX(0);
}*/

.section3_card3 {
  display: none;
}
.section2 {
  display: none;
}

.section2-nat {
  display: none;
}

@media screen and (max-width: 425px) {
  /* #mobile-test-btn{
	visibility: visible;
	position: absolute;

} */
  .selected-languages-container {
    margin-top: 2rem;

    width: 90%;
    height: 10rem;
    flex-wrap: wrap;
  }
  .selected-language {
    border-radius: 2.5rem !important;
    font-size: 1.5rem !important;
    width: 14rem !important;
    height: 3rem !important;
  }
  .counter {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 8%;
    left: 56%;
    font-size: 2rem;
  }
  .section3_language_choice {
    align-self: flex-start;
  }
  .languages-select-wrapper {
    flex-direction: column;
  }
  .laguage-dropdown {
    width: 24rem;
    height: 20rem;
  }
  .laguage-dropdown > p {
    line-height: 5rem;
    font-size: 2.3rem;
  }

  .mobile-menu-slider-active {
    opacity: 1;
    display: flex;
    width: 80%;
  }
  .mobile-menu-slider-active > span {
    display: flex;
  }
  body {
    background: #fff;
    max-width: 100vw;
  }

  .header {
    display: none;
    /* visibility: hidden; */
  }
  .main-menu {
    display: none;
  }

  .mobile-header {
    display: flex;
  }
  .mobile-header-logo {
    width: 24rem;
    height: 13rem;
    margin-left: 3.5rem;
    z-index: 2;
  }
  .mobile-header-logo > img {
    width: 100%;
    height: 100%;
  }
  .mobile-header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .mobile-header-bg > img {
    width: 100%;
    height: 100%;
  }

  .mobile-header-items {
    height: 15rem;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-search {
    height: 8rem;
    width: 8rem;

    position: relative;
  }

  .mobile-search-panel {
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: 0;
    border-radius: 60px;
    width: 4.5rem;
    transition: 0.9s;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    height: 4.5rem;
  }
  #mobile-search-field {
    width: 0;
    border: none;
    border-radius: 60px;
    opacity: 0;

    transition: 0.9s;
    outline: none;
    color: #797979;
    font-size: 3rem;
    height: 4.5rem;
  }
  #mobile-search-field:not(:focus) {
    width: 0;
    border: none;
    border-radius: 60px;
    opacity: 0;

    transition: 0.9s;
    outline: none;
    color: #797979;
    font-size: 0.7rem;
    height: 4.5rem;
  }
  .mobile-header-search {
    position: relative;
    width: 1.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
  }

  #mobile-search-ico {
    height: 4.5rem;
    z-index: 5;
    display: flex;
    align-items: center;
    font-size: 4rem;
  }

  .mobile-search-input {
    z-index: 3;
    position: absolute;
    width: 0;
    opacity: 0;
  }

  .mobile-menu {
    position: relative;
    height: 5rem;
    width: 5rem;
    margin: 0 2rem 0 2rem;
  }

  /*///////////////////////////////////////////////////////*/
  .menu-icon-wrapper {
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-icon {
    position: relative;
    width: 5.4rem;
    height: 0.85rem;
    background-color: #fff;
  }

  .menu-icon::before {
    position: absolute;
    left: 0;
    top: -1.9rem;
    content: "";
    width: 5.4rem;
    height: 0.85rem;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  .menu-icon::after {
    position: absolute;
    left: 0;
    top: 1.9rem;
    content: "";
    width: 5.4rem;
    height: 0.85rem;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  .menu-icon.menu-icon-active {
    background-color: transparent;
  }

  .menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  .menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  /*////////////////////////////footer///////////////////////*/

  .footer-inner {
    flex-direction: column;
  }
  .global-it-info {
    width: 90%;
  }
  .footer-global-it-logo {
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .footer-logo-heading {
    display: none;
  }
  .footer-logo-screen {
    display: none;
  }

  .footer-logo-mobile {
    display: block;
  }

  .global-it-text {
    font-size: 2rem;
    text-align: left;
    line-height: 3rem;
    letter-spacing: 0.14rem;
  }

  .footer-trainings {
    display: none;
    width: 90%;
    text-align: left;
    font-size: 2rem;
    margin: 2rem;
  }
  .footer-global-heading {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .footer ul {
    text-align: left;
    line-height: 4rem;
  }
  .footer-map {
    width: 90%;
    margin: 2rem;
    font-size: 2rem;
  }
  .footer-contacts {
    margin: 2rem;
    width: 90%;
    font-size: 2rem;
  }
  .footer-no-margin li {
    line-height: 3rem;
  }
  .copyright-wrapper p {
    display: none;
  }
  .mobile-footer-copyright {
    font-size: 3rem;
    display: block;
    text-align: center;
    padding-bottom: 3rem;
    letter-spacing: 0.15rem;
  }
  /*----------------------------section 2-------------------------------s*/
  .section2 {
    flex-direction: column;
    align-items: center;
  }
  .section2-nat {
    flex-direction: column;
    align-items: center;
  }
  .section2_iputs {
    width: 100%;
  }
  .section2_nubmber {
    width: 5rem;
    height: 5rem;
  }
  .section2_nubmber p {
    font-size: 3rem;
  }
  .section2_iput_typeofactivity_title p {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .section2_iput_typeofactivity {
    flex-direction: column;
  }
  .section2_iput_typeofactivity_secton2_input {
    margin-left: 0;
  }
  .section2_iput_typeofactivity_title_p {
    display: none;
  }
  .section2_iput_typeofactivity_title_p_2 {
    display: block;
  }
  .section2_iput_typeofactivity_input {
    width: 94%;
    height: 7rem;
    margin-top: 2rem;
  }
  .section2_iput_typeofactivity_input input {
    width: 97.5%;
    height: 96%;
    font-size: 1.8rem;
  }
  .section2_iput_typeofactivity_secton2_input {
    width: 94%;
    height: 6rem;
    margin-top: 2rem;
  }
  .section2_iput_typeofactivity_secton2_input input {
    width: 97.5%;
    height: 5.8rem;
    font-size: 1.8rem;
  }
  .section2_iput_typeofactivity_section3_title p {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .section2_iput_typeofactivity_secton2_input {
    width: 94%;
    height: 6rem;
    margin-top: 2rem;
  }
  .section2_iput_typeofactivity_secton2_input input {
    width: 97.5%;
    height: 5.8rem;
    font-size: 1.8rem;
  }
  .section2_iput_typeofactivity_section3_title_p1 {
    display: none;
  }
  .section2_iput_typeofactivity_section3_title_p2 {
    display: block;
  }
  .section2_iput_typeofactivity_section3_inputs {
    flex-direction: column;
  }
  .section2_iput_typeofactivity_section3_input {
    width: 94%;
    height: 6rem;
    margin-top: 2rem;
  }
  .section2_iput_typeofactivity_section3_input input {
    width: 97.5%;
    height: 95%;
    font-size: 1.8rem;
  }
  .section2_iput_typeofactivity_section3_addfile label {
    margin-left: 0;
    width: 50%;
    height: 6rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .section2_iput_typeofactivity_section4 {
    display: none;
  }
  .section2_iput_typeofactivity_i_have_a_website_title p {
    font-size: 1.7rem;
    width: 50%;
  }
  .section2_iput_typeofactivity_i_have_a_website_input {
    width: 94%;
    height: 6rem;
    margin-top: 2rem;
  }
  .section2_iput_typeofactivity_i_have_a_website_input input {
    width: 97.5%;
    height: 5.8rem;
    font-size: 1.8rem;
  }
  .section2_iput_typeofactivity_button_next_button {
    width: 95%;
    height: 7rem;
    margin-top: 2rem;
    font-size: 2rem;
  }
  /*---------------section 3 mobile--------------------------*/
  .section3_third_text {
    flex-direction: column;
  }
  .section3_third {
    width: 6rem;
    height: 6rem;
  }
  .section3_third p {
    font-size: 3rem;
    margin-top: 1rem;
  }
  .section3_text {
    width: 100%;
    font-size: 2.7rem;
    margin-top: 4rem;
  }
  .section3_type {
    width: 100%;
    margin-top: 2rem;
  }
  .section3_type_choice {
    width: 44%;
    height: 20rem;
    margin: 1.5rem;
  }
  .section3_type_choice_bg {
    display: none;
  }
  .section3_type_choice {
    width: 46%;
    height: 20rem;
    margin: 0.5rem;
    font-size: 1.9rem;
  }
  .section3_type_choice_text h4 {
    margin-bottom: 1.5rem;
  }
  .section3_what_do_i_want_text {
    width: 100%;
  }
  .section3_what_do_i_want_text p {
    width: 94%;
    font-size: 2.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .section3_what_do_i_want_input {
    width: 90%;
    height: 7rem;
    border-radius: 4rem;
  }
  .section3_what_do_i_want_input input {
    font-size: 2rem;
    border-radius: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .section3_language_text {
    width: 94%;
    font-size: 2.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .section3_language_choice {
    border-radius: 4rem;
    width: 30rem;
    height: 7rem;
    font-size: 2rem;
  }
  .section3_language_choice p {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
  .section3_mobail_text {
    width: 94%;
    font-size: 2.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .section3_mobail_input {
    width: 90%;
    height: 7rem;
    border-radius: 4rem;
  }
  .section3_mobail_input input {
    font-size: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 4rem;
  }
  .section3_domen_text {
    width: 94%;
    font-size: 2.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .section3_domen_input {
    width: 90%;
    height: 7rem;
    border-radius: 4rem;
  }
  .section3_domen_input input {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
    border-radius: 4rem;
  }
  .section3_preferred_design_text {
    width: 94%;
    font-size: 2.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .section3_preferred_design_input {
    flex-direction: column;
  }
  .section3_preferred_design_input_1 {
    width: 90%;
    height: 7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 4rem;
  }
  .section3_preferred_design_input_2 {
    margin-left: 3rem;
    width: 90%;
    height: 7rem;
    margin-bottom: 2rem;
    border-radius: 4rem;
  }
  .section3_preferred_design_input_1 input {
    font-size: 2rem;
    border-radius: 4rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .section3_preferred_design_input_2 input {
    font-size: 2rem;
    border-radius: 4rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .send button,
  #button-back_3,
  #button-back_2,
  #button-back_3-leg,
  #button-back_2-leg,
  #button-next_1-nat,
  #button-next_2,
  #button-next_1-legal,
  #button-next_2-leg {
    width: 88%;
    height: 7rem;
    margin: 3rem;
    border-radius: 10rem;
    font-size: 2.7rem;
  }
  /*---------------section 3 mobile end--------------------------*/
  /*--------------section 1 mobile ------------------------------*/
  .section1__freeAdvice {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .section1 h1 {
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: 0.4rem;
  }
  .section1__freeAdvice-pic-wrapper {
    width: 100%;
    margin-top: 2rem;
    align-items: center;
  }
  .section1__freeAdvice-pic-wrapper > img {
    width: 10rem;
    height: 10rem;
  }
  .section1__freeAdvice-pic-wrapper > h3 {
    font-size: 2rem;
  }
  .section1__freeAdvice-inputs-wrapper {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .section1__freeAdvice-yourName {
    width: 90%;
    height: 7rem;
    margin-bottom: 2rem;
  }
  .section1__freeAdvice-yourName > input {
    width: 99%;
    font-size: 2rem;
  }
  .section1__freeAdvice-yourPhone {
    width: 90%;
    height: 7rem;
    margin-bottom: 2rem;
  }
  .section1__freeAdvice-yourPhone > input {
    width: 99%;
    font-size: 2rem;
  }
  .section1__freeAdvice > button {
    width: 90%;
    height: 7rem;
    font-size: 2rem;
  }
  .section1__answerQuestion {
    height: auto;
    width: 100%;
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .section1__answerQuestion > img {
    width: 28rem;
    height: 28rem;
  }

  .section1__answerQuestion > p {
    font-size: 2.4rem;
    width: 95%;
    text-align: center;
  }
  .section1__apply {
    height: auto;
    width: 95%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }
  .section1__apply > span {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }
  .section1__apply-naturalPerson {
    width: 100%;
    height: 7rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .section1__apply-legalPerson {
    width: 100%;
    height: 7rem;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .section1__apply-cart {
    border-radius: 10px;
    box-shadow: none;
  }
  .section1__apply-one-wrap {
    margin: 0 auto;
  }
  .section1__apply-one {
    width: 5rem;
    height: 5rem;
  }

  .section1__apply-one > p {
    font-size: 2rem;
  }
  .section1__apply-cart {
    height: auto;
  }
  .section1-nat-person-inputs {
    position: relative;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 2rem;
    top: 2rem;
  }
  .nat-person-input {
    width: 95%;
  }
  .input-bg {
    width: 100%;
    height: 7rem;
    border-radius: 10rem;
  }
  .input-bg > input {
    border-radius: 10rem;
    padding-left: 3rem;
    font-size: 1.8rem;
    height: 94%;
  }
  .go-to-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 4rem;
  }
  .go-to-btn > button {
    width: 95%;
    height: 7rem;
    font-size: 2rem;
    border-radius: 10rem;
  }
  .card-illustriation {
    display: none;
  }

  .section1CartBg {
    border-radius: 4rem;
  }

  .section2_iput_company-adress > p {
    font-size: 1.7rem;
  }
  #section2-input9-bg {
    width: 94%;
    font-size: 1.7rem;
  }
  .section2_iput_boss > p {
    font-size: 1.7rem;
  }
  .boss-inputs-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .boss-inputs-wrapper > span {
    width: 94%;
  }

  .free-advice-block {
    align-items: flex-start !important;
  }
  .free-advice-inner {
    margin-top: 4rem;
    width: 98% !important;
    top: 2rem;
    border-radius: 4rem !important;
  }
  #advice-close-btn {
    font-size: 4.5rem !important;
  }
  .free-advice-heading {
    width: 90%;
  }
  .free-advice-heading > p {
    font-size: 3rem !important;
  }
  .free-advice-ico {
    height: 16rem !important;
    width: 24rem !important;
  }
  .free-advice-inputs {
    margin-top: 4rem;
    width: 100% !important;
  }
  .free-advice-inputs > input {
    width: 60rem !important;
    height: 10rem !important;
    border-radius: 5rem !important;
    margin-bottom: 5rem !important;
    padding-left: 2rem !important;
  }
  #telephone {
    width: 62rem !important;
    height: 10rem !important;
    border-radius: 5rem !important;
  }
  .last-input {
    margin-top: 5rem !important;
  }
  #send {
    padding: 2.5rem 6rem !important;
    border-radius: 4rem !important;
  }

  /*mobile end*/
}

.dark-mode {
  background: #2a0054 !important;
  color: #fff !important;
}
.selected-language {
  border: 0.05rem solid #cacaca;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 1rem;
  position: relative;
  margin-right: 1rem;
  cursor: pointer;
  color: #6e6e6e;
}
.selected-language > i {
  position: absolute;
  right: 0.3rem;
  cursor: pointer;
}

.free-advice-block {
  position: absolute;
  z-index: 50;
  /* background: blue; */

  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.free-advice-inner {
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.25);
  width: 50%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background: #fff;
  position: relative;
  align-items: center;
}
.free-advice-bgr {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  background: #000;
  opacity: 0.2;
}
.free-advice-heading {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.free-advice-inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}
.free-advice-inputs > input {
  outline: none;
  border: 0.1rem solid rgb(156, 156, 156);
  width: 22rem;
  border-radius: 2rem;
  height: 2rem;
  padding-left: 0.4rem;
  margin-bottom: 1.2rem;
}
#telephone {
  outline: none;
  border: 0.1rem solid rgb(156, 156, 156);
  width: 22.5rem;
  border-radius: 2rem;
  height: 2rem;
}
.last-input {
  margin-top: 1.2rem;
}
.free-advice-ico {
  height: 5rem;
  width: 7rem;
}
#send {
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  background: #3d04b7;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 3rem;
}
#advice-close-btn {
  position: absolute;
  font-size: 1.2rem;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}
